* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}

/*************** Title Screen ********************/
.coverBG {
	height: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
}

.coverMessage {
    /*To position the text in the center.*/
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    /************************************/
    color: #F1FAEE;
    text-align: center;
}

.title {
    color:#8b5fbf;
	font-family: hobeaux-rococeaux, sans-serif;
	font-size: 75px;
	font-weight: 400;
    font-style: normal;
    transition: 0.8s; 
}

.subTitle {
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: #c989eb;
}

.coverTxt {
    color: #ced3dc;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    text-align: center;
    list-style-position: inside;
}

.enterBtn {
    margin: 3px 1px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: #8b5fbf;
	color: #F1FAEE;
	text-align: center;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

.enterBtn:hover {
    margin: 3px 1px;
    padding: 8px 10px;
    border: 2px solid #8b5fbf;
    border-radius: 5px;
	background-color: lightgray;
    color: #8b5fbf;
    text-align: center;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

.copyText {
	position: absolute;
	bottom: 10px;
	left: 16px;
    font-size: 14px;
    color: #FFF;
}

hr {
	margin: auto;
	width: 90%;
	background-color: white;
}
/***********************************************************/

/********************** Game Screen ************************/
#gameArea {
    border: 5px solid #ced3dc;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
}
/***********************************************************/
